
body {
    background-image: url(../images/backgrnd.jpg);
}

/*for navigation bar*/
.navbar {
    margin-bottom: 0px;
}

/*for drop down and button on navigation bar*/
.dropdown,
.btn-primary{
    margin-top: 6px;
}

/*for responsive images*/
.col-md-3 {
    float: left;
    margin-left: 50px;
}

/*for jumbotron msg*/
.jumbotron {
    height: 290px;
}

/*for table design*/
.table {
    margin: 0 auto;
    width: 90%;
}

h2 {
    clear: both;
    margin-left: 60px;
}

/*carousel design*/
.carousel-inner {
    margin: 20px auto;
    width: 90%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    width: 70%;
}

/*success panel*/
.panel {
    margin: 20px auto;
    width: 90%;
}

.panel-body, .panel-footer {
    font-size: 20px;
}
